@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.clear {
  clear: both;
}
.page{
  overflow: hidden;
}
body{
display: flex;
flex-direction: column;
}
.content{
  flex-grow: 1;
}
#content{
  width: 1600px;
  margin: 0 auto 50px;

}
#footer{
  position: fixed;
  left: 0; bottom: 0;
  padding: 100px;

}
body {
  background-color: #1A5276;
  color: #c8c8c8;
  font-family: 'swap', sans-serif;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
header {
  height: 1700px;
  background: url(img/konsole-mit-games-schriftzug-leuchtreklame-auf-ziegelsteinhintergrund_1262-11854.jpg) 50% 0
  no-repeat fixed;
  background-size: cover;
  color: #82E0AA;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
header.wrapper {
  padding: 100px 15px 50px 50px;
}
#header-left {
float: left;
width: 60%;
}
#header-right {
  float: left;
  width: 40%;
}
#header-shadow{
height: 1900px;
background:rgba(0, 0, 0, 0.3);
}
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@1,700&family=Open+Sans&display=swap');


a{
  text-decoration: none;
}
a:visited{
  color: #01AEA5;
}
a:hover{
  color: white;
  text-decoration: underline;
}

}
menu{
  list-style: none;
  margin: 25px;
}
a{
  text-decoration: none;
  font-family: Arial;
  transition: 1s linear;
}
.main-menu{
  display: block;
  width: 400px;
  margin: 0 auto 20px;
}
.two menu{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  overflow:hidden;
  margin-bottom: 2px;
  border-radius: 100px;
  padding:1px 0;
}
.two li{
  float:left;
}
.two a{
display: block;
border-radius: 15px;
padding: 0.4em;
border-right: 0px solid #F3C32F;
background: rgba(0, 0, 0, .1);
color: #27687F ;
}
.two a:hover{
  background: #1A4989
}
a{
text-decoration: none;
}
a:hover{
  text-decoration: underline;
  text-shadow: 5px 7px 4px #000000;
}
li{
  list-style-type: none;
}


.header-right1{
  float: right;
  height: 45px;
  width: 30%;
  margin-right: 5px;
}
.omg{
  margin: +32%;
  margin-left: 15px;
  margin-top: 5px;
  text-indent: 0%;
  text-align: right;
  text-shadow: 5px 7px 4px #000000;
}
.lo{
  float: right;
}
.lol{
  margin: 7%;
  text-indent: 0%;
  text-align: right;
  vertical-align: baseline;
  height: 40%;
  text-shadow: 5px 7px 4px #000000;
}
